@model IEnumerable<Stregelisten.Models.BarViewModels.TabViewModel>

@{
    ViewData["Title"] = "Tabs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Streger</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>   
                <th>
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        <tr class="clickable-row" data-href="/Bar/Tab/@item.Id">
            
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> 
            <td>
                @if (item.IsPaid == true)
                {
                    <p style="color: forestgreen;"> BETALT</p>
                }
                else
                {
                    <p style="color: red;"> UBETALT</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
          
        </tr>
}
    </tbody>
</table>
