@model IEnumerable<Stregelisten.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @* ID  *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxCredit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdministrator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <input type="text" name="MaxCredit" value="@item.MaxCredit" disabled="disabled"/>
            </td>
            <td>
                <input class="check-box" name="@item.IsAdministrator" value="@item.IsAdministrator" disabled="disabled" type="checkbox"/>                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
